<form action="/figures" method="post">

  <h1>Figure:<h1><input type = "text" id="figure_name" name = "figure[name]"><br>
  <h2>New landmark:<h2><input type = "text" id="new_landmark" name = "landmark[name]"><br>
  <h2>New title:<h2><input type = 'text' id="new_title" name = "title[name]"><br>
  <h3>Landmarks</h3>
  <% @landmarks.each do |landmark| %>
    <label><%= landmark.name %></label>
    <input type = 'checkbox' name = 'figure[landmark_ids][]' id="landmark_<%=landmark.id%>" value = '<%= landmark.id%>'>
    <br>
  <%end%>
  <h3>Titles</h3>
  <% @titles.each do |title| %>
  <label><%= title.name %></label>
  <input type = 'checkbox' name = 'figure[title_ids][]' id="title_<%=title.id%>" value = '<%= title.id%>'>
  <br>
  <%end%>
  <input type = "submit" value = "Create New Figure">

</form>
